/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #0ea1c5;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : #474747;
$background-light           : mix(#fff, $background, 80%);
$background-lighter         : mix(#fff, $background, 90%);
$text                       : #ffffff;
$link                       : #0ea1c5;
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : mix(#fff, $link, 25%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    background-color: $background;
    color: $text;
    
    body {
        background-color: $background;
        color: $text;
    }
    
    a {
        color: $link;
        
        &:visited {
            color: $link-light;
        }
        
        &:hover {
            color: $link-dark;
        }
    }
    
    .masthead {
        background-color: mix(#000, $background, 20%);
        border-bottom: 1px solid mix(#000, $background, 40%);
        
        a {
            color: $text;
        }
    }
    
    .greedy-nav {
        background: mix(#000, $background, 20%);
        
        a {
            color: $text;
            
            &:hover {
                color: $link;
            }
        }
        
        button {
            color: $text;
        }
    }
    
    .page {
        background-color: $background;
    }
    
    .page__content {
        color: $text;
        
        h1, h2, h3, h4, h5, h6 {
            color: $text;
        }
        
        p, li, td {
            color: $text;
        }
    }
    
    .sidebar {
        background-color: $background;
        
        .author__name {
            color: $text;
        }
        
        .author__bio {
            color: mix(#fff, $text, 30%);
        }
    }
    
    .author__urls {
        color: $text;
        
        li a {
            color: $text;
        }
    }
    
    .page__footer {
        background-color: mix(#000, $background, 30%);
        color: $text;
        
        a {
            color: $link;
        }
    }
    
    code {
        background-color: mix(#000, $background, 30%);
        color: mix(#fff, $text, 20%);
    }
    
    pre {
        background-color: mix(#000, $background, 30%);
    }
    
    .archive__item-title {
        color: $text;
    }
    
    .archive__item-excerpt {
        color: mix(#fff, $text, 30%);
    }
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #f3f3f3;
    --global-thead-color                : #{$background-lighter};
}
